[submodule ".config/st"]
	path = .config/st
	url = https://github.com/iStagnant/st.git
[submodule ".config/dmenu"]
	path = .config/dmenu
	url = https://github.com/lukesmithxyz/dmenu
	ignore = dirty
[submodule ".config/mpv"]
	path = .config/mpv
	url = https://github.com/iStagnant/mpv
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/iStagnant/nvim
